* {box-sizing: border-box; }
body { background-color: #3F2860;
	   color: #40407A; 
	   font-family: Verdana, Arial, sans-serif;
	   margin: 0; }
header { background-color: #40407A;
		 background-image: url(sunrise.jpg); 
		 background-size: 100% 100%; 
		 color: #FFFFFF; 
		 font-size: 90%; 
		 margin-top: 50px; 
		 min-height: 200px; }
header a { text-decoration:   none; }
header a:link { color: #FFF; }
header a:visited { color: #FFF; }
header a:hover { color: #EDF5F5; }
nav { width: 100%;
	  padding: 1em;
	  padding-top: 0.5em; 
	  position: fixed; 
	  top: 0; 
	  left: 0; 
	  text-align: right; 
	  margin: 0; 
	  padding-right: 0; 
	  background-color: #FFFFFF; 
	  z-index: 9999; }
nav ul { list-style-type: none; 
		 display: flex; 
		 flex-wrap: wrap; 
		 margin: 0; 
		 font-size: 1.2em; }
nav li { width: 40%; 
		 padding-top: 0; 
		 padding-bottom: 0; 
		 display: inline; }
nav a { text-decoration: none; 
		display: block; }
nav a:link { color: #3F2860; }
nav a:visited { color: #497777; }
nav a:hover { color: #A26100; }
section { padding-left: 0.5em; 
		  padding-right: 0.5em; }
.studio { font-style: italic; }
footer { font-size: .60em; 
		 font-style: italic; 
		 text-align: center; }
#wrapper { background-color: #F5F5F5; 
		   padding: 2em; }
#mathero { background-image: url(yogamat.jpg); 
		   background-repeat: no-repeat; 
		   height: 300px; 
		   background-size: cover; 
		   display: none; }
#loungehero { background-image: url(yogalounge.jpg); 
			  background-repeat: no-repeat; 
			  height: 300px; 
			  background-size: cover; 
			  display: none; }
.home { height: 20vh; 
		padding-top: 2em; 
		padding-left: 10%; }
.content { height: 20vh; 
		padding-top: 2em; 
		padding-left: 10%; }
#mobile { display: inline; }
#desktop { display: none; }
@media (min-width: 600px) {
	nav ul { flex-wrap: nowrap; 
			 justify-content: flex-end; }
	nav li { width: 7em; }
	section { padding-left: 2em; 
			  padding-right: 2em; }
	#mathero { display: block; 
			   padding-bottom: 1em; }
	#loungehero { display: block; 
				  padding-bottom: 1em; }
	#flow { display: flex; 
			flex-direction: row; }
	#mobile { display: none; }
	#desktop { display: inline; }
}
@media (min-width: 1024px) {
	header { font-size: 120%; }
	.home { height: 50vh; 
			padding-top: 5em; 
			padding-left: 8em; }
	.content { height: 30vh; 
			   padding-top: 1em; 
			   padding-left: 8em; }
	#wrapper { margin: auto; 
			   width: 80%; }
}

