* {box-sizing: border-box; }
body { background-color: #3F2860;
	   color: #40407A; 
	   font-family: Verdana, Arial, sans-serif; }
header { background-color: #80CBC4;
		 background-image: url(lilyheader.jpg);
		 background-repeat: no-repeat; 
		 background-position: right; 
		 height: 150px; }
header a { text-decoration: none; }
header a:link { color: #40407A; }
header a:visited { color: #40407A; }
header a:hover { color: #FFFFFF; }
h1 { padding-top: 50px; 
	 padding-left: 2em; }
nav { font-weight: bold;
	  float: left;
	  width: 160px;
	  padding: 1em; }
nav ul { list-style-type: none; 
		 padding-left: 0; }
nav a { text-decoration: none; 
		display: block; 
		text-align: center;
		border: outset 3px #CCCCCC; 
		padding: 1em; 
		margin-bottom: 1em; }
nav a:link { color: #3F2860; }
nav a:visited { color: #497777; }
nav a:hover { color: #A26100; border: 3px inset #333333; }
.studio { font-style: italic; }
footer { background-color: #80CBC4;
		 font-size: .60em; 
		 font-style: italic; 
		 text-align: center;
		 padding: 1em; }
#wrapper { margin-left: auto;
           margin-right: auto;
           width: 80%;
		   background-color: #F5F5F5;
		   min-width: 1200px; 
		   max-width: 1480px;}
main { margin-left: 170px;
	   padding-top: 1em; 
	   padding-left: 2em;
	   padding-right: 2em; }
.floatleft { float: left; 
			 margin-right: 4em; 
			 margin-bottom: 1em; }
#hero { padding-top: 1em; 
	    padding-bottom: 1em; }
.clear { clear: both; }
.onehalf { float: left; 
		   width: 50%; 
		   padding-left: 2em; 
		   padding-right: 2em; }
.onethird { float: left; 
			width: 33%; 
			padding-left: 2em; 
			padding-right: 2em; }

